/* ===== FONDO GOD ===== */
body{
  margin:0;
  min-height:100vh;
  font-family: Arial, sans-serif;
  text-align:center;
  color:white;

  background: linear-gradient(
    120deg,
    #020617,
    #0f172a,
    #020617
  );
  background-size:400% 400%;
  animation: fondo 15s ease infinite;
  overflow-x:hidden;
}

/* partículas suaves teacher*/
body::before{
  content:"";
  position:fixed;
  inset:0;
  background:
    radial-gradient(circle, rgba(56,189,248,0.12) 1px, transparent 1px);
  background-size:50px 50px;
  animation: mover 60s linear infinite;
  pointer-events:none;
}

/* ===== TÍTULO US US===== */
.titulo{
  font-size:3rem;
  letter-spacing:4px;
  margin:25px 0 35px;
  text-transform:uppercase;
  cursor:default;

  background: linear-gradient(
    90deg,
    #22d3ee,
    #38bdf8,
    #818cf8
  );
  background-size:200%;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

  text-shadow:
    0 0 8px rgba(56,189,248,0.6),
    0 0 20px rgba(129,140,248,0.5),
    0 0 40px rgba(14,165,233,0.4);

  animation:
    gradiente 6s ease infinite,
    pulso 3s ease-in-out infinite;

  transition:
    text-shadow 0.4s ease,
    transform 0.3s ease,
    letter-spacing 0.3s ease;
}

/* hover reactivo osea cuando le pasa el mause */
.titulo:hover{
  transform: scale(1.05);
  letter-spacing:6px;
  animation-play-state: paused;

  text-shadow:
    0 0 14px rgba(125,211,252,0.9),
    0 0 35px rgba(56,189,248,0.85),
    0 0 70px rgba(129,140,248,0.7);
}

/* ===== ANIMACIONES ===== */
@keyframes gradiente{
  0%{ background-position:0% 50%; }
  50%{ background-position:100% 50%; }
  100%{ background-position:0% 50%; }
}

@keyframes pulso{
  0%,100%{
    text-shadow:
      0 0 8px rgba(56,189,248,0.6),
      0 0 20px rgba(129,140,248,0.5),
      0 0 40px rgba(14,165,233,0.4);
  }
  50%{
    text-shadow:
      0 0 14px rgba(125,211,252,0.8),
      0 0 30px rgba(56,189,248,0.7),
      0 0 60px rgba(129,140,248,0.6);
  }
}

@keyframes fondo{
  0%{ background-position:0% 50%; }
  50%{ background-position:100% 50%; }
  100%{ background-position:0% 50%; }
}

@keyframes mover{
  from{ transform:translateY(0); }
  to{ transform:translateY(-100px); }
}
/* configuracion de los botones principales*/

.boton-neon{
  padding:1px 24px;
  width: 345px;
  font-size:1rem;
  color:#7dd3fc;
  background:#020617;
  border:1px solid #38bdf8;
  border-radius:10px;
  cursor:pointer;
  

  box-shadow:
    0 0 10px rgba(56,189,248,0.4);

  transition: all 0.3s ease;
}

.boton-neon:hover{
  color:white;
  box-shadow:
    0 0 15px rgba(56,189,248,0.8),
    0 0 30px rgba(129,140,248,0.6);
  transform: translateY(-2px);
}
/* recuadro de información sobre nosotros*/
.targeta_info{
  width:300px;
  padding:22px;
  border-radius:18px;

  background: linear-gradient(
    180deg,
    rgba(56,189,248,0.08),
    rgba(2,6,23,0.95)
  );

  border:1px solid rgba(56,189,248,0.4);

  box-shadow:
    inset 0 0 15px rgba(56,189,248,0.12),
    0 0 20px rgba(56,189,248,0.25);

  color:#cbd5f5;
  text-align:left;

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
}

.targeta_info h3{
  margin-top:0;
  color:#7dd3fc;
  letter-spacing:1px;
}
.targeta_info:hover{
  transform: scale(1.06);

  box-shadow:
    inset 0 0 25px rgba(56,189,248,0.25),
    0 0 35px rgba(56,189,248,0.7),
    0 0 70px rgba(129,140,248,0.5);
}
.recuadro{
    display: flex;
    justify-content: center;
}
/* contenedor de botones más info*/
#us{
    transition: transform 0.8s;
}
#us:hover{
    transform: rotateY(360deg);
}
#pantalla{
   position: fixed;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 5s ease;
  z-index: 9999;
}
#pantalla.activa {
  opacity: 1;
}
/*vibracion*/

@keyframes vibra {
  0%   { transform: translate(0); }
  20%  { transform: translate(-2px, 2px); }
  40%  { transform: translate(-2px, -2px); }
  60%  { transform: translate(2px, 2px); }
  80%  { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}

.vibra {
  animation: vibra 0.15s infinite;
}
